<%- include('partials/head.ejs', {
  isLoggedIn: isLoggedIn, 
  permisos: permisos,
  usuario: usuario
}) %>

<div class='container'>
  <div class='row'>
    <div class='col s12'>
      <table id='studentsTable' class='striped'>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Matricula</th>
            <th>Referencia</th>
          </tr>
        </thead>
        <tbody>
          <% alumnos.forEach(function(alumno) { %>
            <tr data-email="<%= alumno.Email %>">
              <td><%= alumno.Nombre %></td>
              <td><%= alumno.Apellido %></td>
              <td><%= alumno.Email %></td>
              <td><%= alumno.Matricula %></td>
              <td><%= alumno.Referencia %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Plan de Materias Section (Initially Hidden) -->
  <div id='materias' class='section' style='display:none;'>
    <div class='container'>
      <div class='row'>
          <main class='col s9' style='padding-right: 40px;'>
              <h4 class='roboto-slab'>Plan de Materias</h4>
              <div class='card'>
                  <table class='striped TablaProfesional'>
                    <thead>
                      <tr>
                        <th>3er Semestre</th>
                        <th>Grupo</th>
                        <th>Hora</th>
                        <th>Créditos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Historia del Arte</td>
                        <td>221</td>
                        <td>11:00 a 13:00 Lu/Ma</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Materiales Textiles</td>
                        <td>15</td>
                        <td>7:00 a 9:00 Lu/Ma</td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td>Ilustración Técnica de la Moda II</td>
                        <td>67</td>
                        <td>11:00 a 13:00 Mi/Ju</td>
                        <td>4</td>
                      </tr>
                      <tr>
                        <td>Fundamentos de Administración</td>
                        <td>12</td>
                        <td>15:00 a 16:00 Lu</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>Herramientas Industriales</td>
                        <td>8</td>
                        <td>10:00 a 12:00 Vi</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Patronaje de Prendas Infantiles</td>
                        <td>140</td>
                        <td>6:00 a 8:00 Vi</td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td>Confección de Prendas Masculinas</td>
                        <td>200</td>
                        <td>14:00 a 18:00 Mi</td>
                        <td>12</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </main>
      </div>
    </div>
  </div>

  <!-- Later change for css spacing -->
  <br>
  <br>

  <!-- Estado de Cuenta Section -->
  <div id='estadoCuenta' class='section' style='display:none;'>
    <div class='container'>
      <div class='row'>
        <div class='col s12 card-container'>
          <div class='card'>
            <ul class='tabs'>
              <li class='tab col s12'><a class='active' href='#estado-cuenta'>Estado de cuenta</a></li>
            </ul>
    
            <div id='estado-cuenta' class='tab-content'>
              <!-- Contenido Estado de cuenta  -->
              <table class='striped'>
                <thead>
                  <tr>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Fecha Limite</th>
                  </tr>
                </thead>
                <tbody>
                  <% estadoCuentas.forEach(function(estadoCuenta) { %>
                    <tr>
                      <td><%= estadoCuenta.Concepto %></td>
                      <td>$ <%= estadoCuenta.Cantidad %></td>
                      <td>
                        <% 
                        let date = new Date(estadoCuenta.FechaLimite);
                        let formattedDate = `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
                        %>
                        <%= formattedDate %>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    
      <div class='row'>
        <div class='col s12 card-container'>
          <div class='card'>
            <ul class='tabs'>
              <li class='tab col s12'><a class='active' href='#otros-pagos'>Otros Pagos</a></li>
            </ul>
    
            <div id='otros-pagos' class='tab-content'>
              <!-- Contenido Otros-Pagos  -->
              <table class='striped'>
                <thead>
                  <tr>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Fecha Limite</th>
                  </tr>
                </thead>
                <tbody>
                  <% solpagos.forEach(function(solicitudesdepagos, index) { %>
                    <tr>
                      <td><%= solicitudesdepagos.Concepto %></td>
                      <td>$ <%= solicitudesdepagos.Cantidad %></td>
                      <td>
                        <% 
                        let date = new Date(solicitudesdepagos.FechaLimite);
                        let formattedDate = `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
                        %>
                        <%= formattedDate %>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <!-- Later change for css spacing -->
  <br>
  <br>
  <br>

  <!-- Historial de Pagos Section (Initially Hidden) -->
  <div id='historialPagos' class='section' style='display:none;'>
    <!-- Historial de Pagos Table Structure from home2 -->
    <div class='container'>
      <div class='row'>
        <div class='col s12' style='padding: 20px;'>
          <div class='card' style='padding: 20px;'>
            <ul class='tabs'>
              <li class='tab col s4'><a class='active' href='#test1'>Todo</a></li>
              <li class='tab col s4'><a href='#test2'>Colegiatura</a></li>
              <li class='tab col s4'><a href='#test3'>Otros Servicios</a></li>
            </ul>
    
            <!-- Contenido Historial De Pagos -->

            <div id="test1" class="tab-content">
              <table class="striped">
                <thead>
                  <tr>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Método</th>
                    <th>Fecha Límite</th>
                    <th>Fecha En Que Se Realizó El Pago</th>
                  </tr>
                </thead>
                <tbody>
                <% pagos.forEach(function(pago) { %>
                  <tr>
                    <td><%= pago.Concepto %></td>
                    <td><%= pago.Total %></td>
                    <td><%= pago.Metodo %></td>
                    <td>                    
                      <% 
                      let date = new Date(pago.FechaLimite);
                      let formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                      %>
                      <%= formattedDate %>
                      </td>
                      <td>      
                      <% 
                      date = new Date(pago.Fecha);
                      formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                      %>
                      <%= formattedDate %>
                      </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>

            <div id="test2" class="tab-content">
              <table class="striped">
                <thead>
                  <tr>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Método</th>
                    <th>Fecha Límite</th>
                    <th>Fecha En Que Se Realizó El Pago</th>
                  </tr>
                </thead>
                <tbody>
                  <% pagos.forEach(function(pago) { %>
                    <% if (pago.Concepto === 'Colegiatura') { %>
                      <tr>
                        <td><%= pago.Concepto %></td>
                        <td><%= pago.Total %></td>
                        <td><%= pago.Metodo %></td>
                        <td>                    
                          <% 
                          let date = new Date(pago.FechaLimite);
                          let formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                          %>
                          <%= formattedDate %>
                          </td>
                          <td>      
                          <% 
                          date = new Date(pago.Fecha);
                          formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                          %>
                          <%= formattedDate %>
                          </td>
                      </tr>
                    <% } %>
                  <% }); %>
                  </tbody>
              </table>
            </div>

            <div id="test3" class="tab-content">
              <table class="striped">
                <thead>
                  <tr>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Método</th>
                    <th>Fecha Límite</th>
                    <th>Fecha En Que Se Realizó El Pago</th>
                  </tr>
                </thead>
                <tbody>
                  <% pagos.forEach(function(pago) { %>
                    <% if (pago.Concepto !== 'Colegiatura') { %>
                      <tr>
                        <td><%= pago.Concepto %></td>
                        <td><%= pago.Total %></td>
                        <td><%= pago.Metodo %></td>
                        <td>                    
                          <% 
                          let date = new Date(pago.FechaLimite);
                          let formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                          %>
                          <%= formattedDate %>
                          </td>
                          <td>      
                          <% 
                          date = new Date(pago.Fecha);
                          formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                          %>
                          <%= formattedDate %>
                          </td>
                      </tr>
                    <% } %>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>

<%- include('partials/footer.ejs') %>

<script>
  // JS code to handle the student selection and AJAX request to update the sections
</script>
