<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<br>

<div class="row">    
<div class="container">  
<div class="col s6 card">
<table class="striped centered responsibe-table">
    <thead>
        <tr>
            <th style="font-size: 18px;" colspan="2">Historial del Valor de Creditos Pasados</th>
        </tr>

      <tr>
          <th>Ciclo Escolar</th>
          <th>Costo</th>
      </tr>
    </thead>

    <tbody>
      <% cicloescolar.forEach(function(cicloescolar) { %>
      <tr>
        <td><%= cicloescolar.MesInicio%> - <%= cicloescolar.MesFin%> <%= cicloescolar.Año%></td>
        <td><%= cicloescolar.CostoCreditos%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
</div>

<!---<div class="card">
  <div class="col s3">
    <form action="/creditos" method="POST">
    <table>
      <thead>
            <p style="font-size: 18px;"><strong>Registrar Nuevo Valor de Creditos</strong> </p>
      </thead>
      <tbody>
      <tr>
      <label>Mes Inicio:</label>
      <input id = "MesInicio" class="input text" required="" autocomplete="off" class="validate">
      </tr>
      <br>
      <tr>
      <label>Mes Fin:</label>
      <input id = "MesFin" class="input text" required="" autocomplete="off" class="validate">
      </tr>
      <br>
      <tr>
      <label>Año:</label>
      <input id = "Año" type="number" required="" autocomplete="off" class="validate">
      </tr>
      <br>
      <tr>
      <label>Precio nuevo: $:</label>
      <input id = "CostoCreditos" type="number" required="" autocomplete="off" class="validate">
      </tr>
      <br>
      <tr>
      
      <button type="submit" class="btn modal-trigger carmin">REGISTRAR VALOR</a>
      </tr>
    </tbody>       
    </table>
    </form>
  </div>
</div>
</div>         
</div>


</div> --->

<div class="col s4">
  <div class="card">
      <div class="card-content">
              <span class="card-title">Registrar valor de credito nuevo</span>
          <form action="/creditos" method="POST">
              <div class="row">
                  <div class="col s10 offset-s1 input-field">
                      <input id="MesInicio" name="MesInicio" type="text" required="" autocomplete="off" class="validate">
                      <label for="MesInicio">Mes de Inicio</label>

                  </div>
              </div>

              <div class="row">
                  <div class="col s10 offset-s1 input-field">
                      <input id="MesFin" name="MesFin" type="text" required="" autocomplete="off" class="validate">
                      <label for="MesFin">Mes Final</label>
                  </div>
              </div>

              <div class="row">
                  <div class="col s10 offset-s1 input-field">
                      <input id="Año" name="Año" type="number" required="" autocomplete="off" class="validate">
                      <label for="Año">Año</label>
                  </div>
              </div>

              <div class="row">
                  <div class="col s10 offset-s1 input-field">
                      <input id="CostoCreditos" name="CostoCreditos" type="number" required="" autocomplete="off" class="validate">
                      <label for="CostoCreditos">Nuevo valor del credito</label>
                  </div>
              </div>

              <div class="row">
                  <div class="col 8 offset-s2">
                      <button id="CreditoNuevo" class="btn waves-effect waves-light red" type="submit">Registrar nuevo valor de credito</button>
                  </div>
              </div>
          </form>
      </div>
  <br>
  </div>
</div>



<%- include('partials/footer.ejs') %>