<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<br>

<div class="row">    
<div class="container">  
<div class="col s6 card">
<table class="striped centered responsibe-table">
    <thead>
        <tr>
            <th style="font-size: 18px;" colspan="2">Historial del Valor de Creditos Pasados</th>
        </tr>

      <tr>
          <th>Ciclo Escolar</th>
          <th>Costo</th>
      </tr>
    </thead>

    <tbody>
      <% cicloescolar.forEach(function(cicloescolar) { %>
      <tr>
        <td><%= cicloescolar.MesInicio%> - <%= cicloescolar.MesFin%> <%= cicloescolar.Año%></td>
        <td><%= cicloescolar.CostoCreditos%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
</div>

<div class="card">
  <div class="col s3">
    <table>
      <thead>
            <p style="font-size: 18px;"><strong>Registrar Nuevo Valor de Creditos</strong> </p>
      </thead>
      <tbody>
      <tr>
      <label for="MesInicio">Mes Inicio:</label>
      <input id = "MesInicio" type="text" required="" autocomplete="off">
      </tr>
      <br>
      <tr>
      <label for="MesFin">Mes Fin:</label>
      <input id = "MesFin" type="text" required="" autocomplete="off">
      </tr>
      <br>
      <tr>
      <label for="Año">Año:</label>
      <input id = "Año" type="number" required="" autocomplete="off">
      </tr>
      <br>
      <tr>
      <label for="CostoCreditos">Precio nuevo: $:</label>
      <input id = "CostoCreditos" type="number" required="" autocomplete="off">
      </tr>
      <br>
      <tr>
      <a href="#idvalor" class="btn modal-trigger carmin">REGISTRAR VALOR</a>
      </tr>
    </tbody>       
    </table>
  </div>
</div>
</div>

        <div id="idvalor" class="modal">
            <div class="modal-content">
            <h5>¿Estás seguro de registrar el valor de credito para el nuevo semestre?</h5>
            </div>
            <div class="modal-footer">
                <a href="" class="btn modal-close red">NO</a>
                  <a type="submit" class="btn modal-close green">SI</a>
            </div>
        </div>
</div>


</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });
  </script>

<%- include('partials/footer.ejs') %>