<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<br>

    <section class="container">
        <h1><%= (typeof pagePrimaryTitle !== 'undefined')? pagePrimaryTitle : '' %></h1>
    </section>

    <div class="container">
        <table class="striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>
    </div>

<br><br>

<% if (typeof includeContent !== 'undefined' && includeContent && typeof content !== 'undefined') { %>
    <div class="container">
        <%- content %>
    </div>
<% } %>

<div class="container">
    <div class="row">
        <div class="col s6">
            <a class="waves-effect waves-light btn">Aceptar</a>
        </div>
        <div class="col s6">
            <a class="waves-effect waves-light btn">Rechazar</a>
        </div>
    </div>
</div>

<link rel="icon" href="/assets/img/logo-clear.png" type="image/png"/>
    
<%- include('partials/footer.ejs') %>