<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container">
  <div class="row">
      <main class="col s9" style="padding-right: 40px;">
          <h4 class="roboto-slab">Plan de Materias</h4>
          <br>
          <div class="card">
              <table class="striped TablaProfesional">
                <thead>
                  <tr>
                    <th>3er Semestre</th>
                    <th>Grupo</th>
                    <th>Hora</th>
                    <th>Creditos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Historia del Arte</td>
                    <td>221</td>
                    <td>11:00 a 13:00 Lu/Ma</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>Materiales Textiles</td>
                    <td>15</td>
                    <td>7:00 a 9:00 Lu/Ma</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Ilustración Técnica de la Moda II</td>
                    <td>67</td>
                    <td>11:00 a 13:00 Mi/Ju</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>Fundamentos de Administración</td>
                    <td>12</td>
                    <td>15:00 a 16:00 Lu</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>Herramientas Industriales</td>
                    <td>8</td>
                    <td>10:00 a 12:00 Vi</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>HPatronaje de Prendas Infantiles</td>
                    <td>140</td>
                    <td>6:00 a 8:00 Vi</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Confección de Prendas Masculinas</td>
                    <td>200</td>
                    <td>14:00 a 18:00 Mi</td>
                    <td>12</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </main>

    <br>
    <div class ="col s3" style="padding-left: 20px;">
      <div class="card">
        <div class="card-content center">
            <i class="material-icons large">account_circle</i>
            <span class="card-title">Pablo Perez Castro</span>
            <p>2º Semestre - #10001</p>
            <p class="green-text">Status: Activo</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<!-- Tabla interactiva de estado de cuenta e historial de pagos -->
<div class="container">
    <div class="row">
      <div class="col s12" style="padding-left: 20px; padding-right: 20px;">
        <div class="card" style="padding-left: 20px; padding-right: 20px;">
            <ul class="tabs">
                <li class="tab col s12"><a href="#estado-cuenta">Estado de cuenta</a></li>
            </ul>

        <div id="estado-cuenta">
            <!-- Contenido Estado de cuenta  -->
            <table class="striped">
              <thead>
                <tr>
                  <th>Concepto</th>
                  <th>Cantidad</th>
                  <th>Fecha Limite</th>
                </tr>
              </thead>
              <tbody>
                <% estadoCuentas.forEach(function(estadoCuenta) { %>
                  <tr>
                    <td><%= estadoCuenta.Concepto %></td>
                    <td>$ <%= estadoCuenta.Cantidad %></td>
                    <td>      
                      <% 
                      let date = new Date(estadoCuenta.FechaLimite);
                      let formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                      %>
                      <%= formattedDate %>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
        </div>
      </div>

<br><br><br>

<div class="row">
  <div class="col s12" style="padding-left: 20px; padding-right: 20px;">
    <div class="card" style="padding-left: 20px; padding-right: 20px;">
        <ul class="tabs">
            <li class="tab col s12"><a href="#otros-pagos">Otros Pagos</a></li>
          </ul>
      <div id="otros-pagos">
          <!-- Contenido Otros-Pagos  -->
          <table class="striped">
            <thead>
              <tr>
                <th>Concepto</th>
                <th>Cantidad</th>
                <th>Fecha Limite</th>
              </tr>
            </thead>
            <tbody>
              <% solpagos.forEach(function(solicitudesdepagos) { %>
                <tr>
                  <td><%= solicitudesdepagos.Concepto %></td>
                  <td>$ <%= solicitudesdepagos.Cantidad %></td>
                  <td>      
                    <% 
                    let date = new Date(solicitudesdepagos.FechaLimite);
                    let formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                    %>
                    <%= formattedDate %>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="row">
  <div class="col s12" style="padding-left: 20px; padding-right: 20px;">
    <div class="card" style="padding-left: 20px; padding-right: 20px;">
        <ul class="tabs">
            <li class="tab col s12"><a href="#historial-de-pagos">Historial de Pagos</a></li>
          </ul>
      <div id="historial-de-pagos">
          <!-- Contenido Historial De Pagos  -->
          <table class="striped">
              <thead>
                <tr>
                  <th>Fecha Limite</th>
                  <th>Monto</th>
                  <th>Concepto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>11/03/2027</td>
                  <td>$5,472</td>
                  <td>Tijeras Papeleria</td>
                </tr>
                <tr>
                  <td>25/04/2027</td>
                  <td>$2,457</td>
                  <td>DIPLOMADO MDD</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tabs = document.querySelectorAll('.tabs');
        M.Tabs.init(tabs);
    });
</script>
    
<%- include('partials/footer.ejs') %>

 