<%- include('partials/head.ejs') %>

<main class='container' style='margin-top: 2rem;'>
    <div class='row'>
        <!-- Columna para Seleccionar Método de Pago -->
    <div class='col s6'>
        <h5>Selecciona metodo de pago:</h5>
            <div class='row'>
                <div class='col s6 responsibe-table'>
                    <p>
                        <label>
                            <input id='payment-card' name='payment_method' type='radio' onclick='addEventListener()'/>
                            <span style='font-size: large;'>
                                <strong>Tarjeta</strong>
                                <img src='https://w7.pngwing.com/pngs/117/675/png-transparent-visa-and-mastercard-ads-mastercard-credit-card-american-express-visa-debit-card-mastercard-text-payment-logo.png' alt='Tarjeta de crédito' style='width: 50px; height: auto;'>
                            </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id='payment-transfer' name='payment_method' type='radio' />
                            <span style='font-size: large;'><strong>Transferencia</strong></span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id='payment-cash' name='payment_method' type='radio' />
                            <span style='font-size: large;'><strong>Efectivo</strong></span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <%   
        let paymentData;
        if (paymentType === 'colegiatura') {
          paymentData = estadoCuentas;
        } else if (paymentType === 'otros') {
          paymentData = solpagos;
        }  
        %>  
        <!-- Columna para los Datos de Pago -->
        <% if (paymentType === 'colegiatura') { %>
            <div class='col s6'>
                <h5>Resumen de pago:</h5>
                <div class='card '>
                    <div class='card-content '>
                        <span class='card-title' id='paymentConcept'></span>
                        <div class='row'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Pago mensual:</th>
                                        <th id='paymentAmount'></th>
                                    </tr>
                                </thead>
                                <tbody>                
                                    <% 
                                    const paymentDataUsuario = paymentData.filter(function(pago) { 
                                        return pago.Email === usuario.Email; 
                                    });
        
                                    if (paymentDataUsuario.length === 0) { %>
                                        <tr>
                                            <td colspan="2">No hay datos de pago disponibles</td>
                                        </tr>
                                    <% } else { %>
                                        <tr>
                                            <td><%= paymentDataUsuario[0].Concepto %></td>
                                            <td><strong>$<%= paymentDataUsuario[0].Cantidad %></strong></td>
                                        </tr>
                                    <% } %>            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <% } else if (paymentType === 'otros') { %>
            <!-- Mostrar 2 'card' -->
            <!-- 1 'card' con toda la tabla de otros pagos que te permita seleccionar 1 opción -->
            <div class='row'>
                <div class='col s6' style='padding-left: 20px; padding-right: 20px;'>
                  <div class='card' style='padding-left: 20px; padding-right: 20px;'>
                      <ul class='tabs'>
                          <li class='tab col s12'><a href='#otros-pagos'><h5>Selecciona el pago a realizar</h5></a></li>
                      </ul>
                      <div id='otros-pagos'>
                          <!-- Contenido Otros-Pagos  -->
                          <table class='striped'>
                              <thead>
                                  <tr>
                                      <th>Concepto</th>
                                      <th>Cantidad</th>
                                      <th>Fecha Limite</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <% 
                                const solpagosUsuario = solpagos.filter(function(solicitud) { 
                                    return solicitud.Email === usuario.Email; 
                                });
                            
                                if (solpagosUsuario.length === 0) { %>
                                    <tr>
                                        <td colspan="3">No hay solicitudes de pagos pendientes</td>
                                    </tr>
                                <% } else {
                                    solpagosUsuario.forEach(function(solicitudesdepagos, index) { %>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type='radio' id='paymentOption<%= index %>' name='paymentOption' value='<%= solicitudesdepagos.Concepto %>' data-amount='<%= solicitudesdepagos.Cantidad %>'>
                                                    <span><%= solicitudesdepagos.Concepto %></span>
                                                </label>
                                            </td>
                                            <td>$ <%= solicitudesdepagos.Cantidad %></td>
                                            <td>      
                                                <% 
                                                let date = new Date(solicitudesdepagos.FechaLimite);
                                                let formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
                                                %>
                                                <%= formattedDate %>
                                            </td>
                                        </tr>
                                    <% });
                                } %>
                            </tbody>
                          </table>
                      </div>
                  </div>
                </div>
              </div>


              <div class='col s6'>
                <h5>Resumen de pago:</h5>
                <div class='card '>
                    <div class='card-content '>
                        <span class='card-title' id='paymentConcept'></span>
                        <div class='row'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Total a pagar:</th>
                                        <th id='paymentAmount'></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
<!-- Botones de aceptar y rechazar -->
<% if (typeof includeContent !== 'undefined' && includeContent && typeof content !== 'undefined') { %>
    <div class='container'>
        <%- content %>
    </div>
<% } %>

    <div class='container section'>
        <div class='row'>
            <div class='col s6'>
                <a href='/student-home' class='btn modal-trigger carmin'>Regresar</a>
            </div>
            <div class='col s6 right-align'>
                <button id='continue-button' class='btn modal-trigger carmin'>Continuar</button>
            </div>
        </div>
    </div>



    <div id='payment-modal' class='modal'>
        <div class='modal-content'>
            <h4 id='modal-title'><strong></strong></h4>
            <p id='modal-text'></p>
            <p id='modal-account'></p>
        </div>
        <div class='modal-footer'>
            <a href='/student-home' class='modal-close waves-effect waves-green btn-flat'>Entiendo</a>
        </div>
    </div>
</div>

<script>
    $(document).ready( function () {
    
        $('#continue-button').click(function(e) {
            e.preventDefault(); // Prevent the form from automatically submitting
    
            let payment_method = $('input[name="payment_method"]:checked').val();
            let paymentOption = $('#paymentOption').text();
            let paymentType = $('#paymentType').val(); // Assuming you have a field with id 'paymentType'
    
            if (payment_method == undefined) {
                Swal.fire({
                    html: '<b>Por favor, selecciona un método de pago</b>',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
                return false;
            }
    
            if (paymentType === 'otros' && paymentOption == '') {
                Swal.fire({
                    html: '<b>Por favor selecciona un artículo para pagar</b>',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
                return false;
            }
    
            // If paymentType is 'colegiatura', submit the form without confirmation
            if (paymentType === 'colegiatura') {
                $('form').submit();
                return;
            }
    
            // If paymentType is not 'colegiatura', ask for confirmation
        }); 
    });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('.modal');
    const instances = M.Modal.init(elems);
  
    document.getElementById('continue-button').addEventListener('click', function() {
        const title = document.getElementById('modal-title');
        const text = document.getElementById('modal-text');
        const account = document.getElementById('modal-account');

        if (document.getElementById('payment-transfer').checked) {
            title.textContent = '¡Te ayudamos a completar tu pago por transferencia!';
            text.textContent = 'Para completar tu pago por transferencia puedes hacerlo a la siguiente cuenta:';
            account.textContent = 'BANAMEX: 123456789';
            instances[0].open();
        } else if (document.getElementById('payment-cash').checked) {
            title.textContent = '¡Te ayudamos a completar tu pago en efectivo!';
            text.textContent = 'Para completar tu pago en efectivo, por favor dirígete a la siguiente dirección:';
            account.textContent = 'C. Juan Caballero y Osio 398, Calesa 2da Secc, 76020 Santiago de Querétaro, Qro.';
            instances[0].open();
        } else if (document.getElementById('payment-card').checked) {
            window.location.href = 'https://sandboxpol.mit.com.mx/i/SNDBX01';
        }
    });
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtiene todas las opciones de pago
        const paymentOptions = document.getElementsByName('paymentOption');
        // Obtiene los elementos que mostrarán el concepto y la cantidad de la opción de pago seleccionada
        const paymentConcept = document.getElementById('paymentConcept');
        const paymentAmount = document.getElementById('paymentAmount');
    
        // Para cada opción de pago, añade un evento de cambio
        paymentOptions.forEach(function(option) {
            option.addEventListener('change', function() {
                // Cuando se selecciona una opción de pago, actualiza el concepto y la cantidad
                paymentConcept.textContent = option.value;
                paymentAmount.textContent = '$' + option.getAttribute('data-amount');
            });
        });
    });
</script>

<%- include('partials/footer.ejs') %>