<%- include('partials/head.ejs', {
    isLoggedIn: isLoggedIn, 
    permisos: permisos,
    usuario: usuario
  }) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class='container'>
    <h2 class='centrado'>Reportes y Estadísticas</h2>

    <% if (error) { %>
        <div class="card red darken-1">
            <div class="card-content white-text">
                <span class="card-title">Error</span>
                <p><%= error %></p>
            </div>
        </div>
    <% } %>
    
    <br><br><br>

    <div class='row'>
        <div class='col s12'>
            <div class='card'>
                <div class='card-content'>
                    <h4>Reporte de Costo de Créditos</h4>
                    <br>
                    <canvas id='myChart'></canvas>
                </div>
            </div>
        </div>

        <br> <br>

        <div class='col s12'>
            <div class='card'>
                <div class='card-content'>
                    <h4>Reporte de Alumnos por Beca</h4>
                    <br>
                    <canvas id='myChart2'></canvas>
                </div>
            </div>
        </div>

        <br> <br>

        <div class='col s12'>
            <div class='card'>
                <div class='card-content'>
                    <h4>Comparación de Dinero no Recibido: Colegiatura vs Otros Servicios</h4>
                    <canvas id="moneyLostChart"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

  <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
  
  <script>

    const Cicloescolar = <%- JSON.stringify(Cicloescolar[0]) %>;
    console.log(Cicloescolar);

    var ctx = document.getElementById('myChart').getContext('2d');

    var labels = Cicloescolar.map(function(Cicloescolar) {
        return Cicloescolar.MesInicio + ' - ' + Cicloescolar.MesFin + ' ' + Cicloescolar.Año;
    });
      
    var data = Cicloescolar.map(function(Cicloescolar) {
        return Cicloescolar.CostoCreditos;
    });


    const alumnos = <%- JSON.stringify(alumnos[0]) %>;
    console.log(alumnos);

    var ctx2 = document.getElementById('myChart2').getContext('2d');

    var labels2 = ['Beca 0-50', 'Beca 50-100'];

    var data2 = [
        alumnos.filter(function(alumno) { return alumno.Beca >= 0 && alumno.Beca <= 50; }).length,
        alumnos.filter(function(alumno) { return alumno.Beca > 50 && alumno.Beca <= 100; }).length,
    ];

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Valor De Créditos A Lo Largo Del Tiempo',
                data: data,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'Número De Alumnos Por Beca',
                data: data2,
                backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    // Functionality and Display of Money Lost Comparison Chart ("Colegiatura" vs "Otros Servicios")
    const unpaidColegiatura = <%- JSON.stringify(unpaidColegiatura) %>;
    const unpaidOtros = <%- JSON.stringify(unpaidOtros) %>;

    // The use of reduce is to calculate the total amount of money not received (payment is still pending) in each category
    // This is done through a simple sum of the "Cantidad" of each value
    const totalUnpaidColegiatura = unpaidColegiatura.reduce((acum, current) => acum + current.Cantidad, 0);
    const totalUnpaidOtros = unpaidOtros.reduce((acum, current) => acum + current.Cantidad, 0);

    const ctx3 = document.getElementById('moneyLostChart').getContext('2d');
    const moneyLostChart = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: ['Colegiatura', 'Otros Servicios'],
            datasets: [{
                label: 'Dinero No Obtenido ($)',
                data: [totalUnpaidColegiatura, totalUnpaidOtros],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)', // Pink for "Colegiatura"
                    'rgba(54, 162, 235, 0.2)' // Blue for "Otros Servicios"
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

  </script>

<%- include('partials/footer.ejs') %>