<%- include('partials/head.ejs', {
    isLoggedIn: isLoggedIn, 
    permisos: permisos,
    usuario: usuario
  }) %>

<h1 class="centrado">Reportes</h1>
<br><br><br>
<div class="container">
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
      var ctx = document.getElementById("myChart").getContext("2d");
      var labels = [<% cicloescolar.forEach(function(cicloescolar, index) { %>'<%= cicloescolar.MesInicio%> - <%= cicloescolar.MesFin%> <%= cicloescolar.Año%>'<%= index !== cicloescolar.length - 1 ? ',' : '' %> <% }); %>];
      var data = [<% cicloescolar.forEach(function(cicloescolar, index) { %>'<%= cicloescolar.CostoCreditos%>'<%= index !== cicloescolar.length - 1 ? ',' : '' %> <% }); %>];
      var myChart = new Chart(ctx, {
          type: "bar", // Cambia "line" a "bar"
          data: {
              labels: labels,
              datasets: [{
                  label: 'Valor de Créditos a lo largo del tiempo',
                  data: data,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
  </script>